@font-face
{
    font-family: 'PoliceRaleway';
    src:url('Police/Raleway-Light.ttf');
}

body
{
    font-family: 'PoliceRaleway';
    font-size: 15px;
}
 header , main
 {
    padding-left: 300px;
    padding-right: 300px;
 }





                    /* HEBERGEMENT ACTIVITES SINSCRIRE !!!!!*/

.header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.navigation ul
{
    list-style-type: none;
    display: flex;
    text-decoration: none;   
}

.navigation a
{
    font-size: 15px;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
    margin-right: 35px;
    font-size: 15px;
}
.phrase1
{
    font-size: 16px;
}
.phrase2
{
    margin-bottom: 20px;
}

                    /* BARRE DE RECHERCHE */

.search 
{
  width: 50%;
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.searchTerm 
{
  border: 1px solid #F2F2F2;
  border-right: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #9DBFAF;
}

.searchButton 
{
  height: 32px;
  border: 1px solid #0065FC;
  background:  #0065FC;
  text-align: center;
  color: #fff;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 13px;
}
.wrap
{
    display: flex;
    flex-direction: row;
}
 .maps 
 {
    border: 1px #F2F2F2 solid;
    height: 30px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 8px 0 0 8px;
 }


                        /* FILTRES!!!!!!!*/ 

.filtres ul
{
    list-style-type: none;
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    padding: 0;

}

.filtres li
{
    margin-right: 15px;
    border: 2px #F2F2F2 solid;
    border-radius: 30px 30px;
    padding: 6px 10px;
}

.fa-money-bill-wave , .fa-child , .fa-heart , .fa-dog
{
    background-color: #DEEBFF;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
}

.premier
{
    border: none
}

                    /* HEBERGEMENT MARSEILLE !!!!!*/

.container-hebergement-populaires
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-hebergement
{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    background-color: #F2F2F2;
    border-radius: 5%;
    width: 63%;
    height: 550px;
    padding: 20px;
    margin-top: 20px;
    
}
.hebergement
{
    background-color: white;
    width: 210px;
    height: 170px;
    border-radius: 30px;
    overflow: hidden;
    padding: 4px;
    box-shadow: 1px 1px 10px grey;
    margin-bottom: 30px;
}

.hebergement img
{
    width: 100%;
    height: 55%;
    border-radius: 30px 30px 0px 0px;   
}
.titre 
{
    font-size: 20px;
    font-weight: bold;
    margin: 25px
}
.hotels
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    
}
 .afficher-plus
 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
 }


                        /* POPULAIRES !!!*/

.populaires
{
    background-color: white;
    width: 300px;
    height: 120px;
    border-radius: 30px;
    overflow: hidden;
    padding: 4px;
    box-shadow: 1px 1px 10px grey;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.populaires img
{
    width: 115px;
    height: 150px;
    border-radius: 26px 0px 0px 26px;
   
}

.container-populaires
{
    background-color: #F2F2F2;
    width: 29%;
    height: 550px;
    padding: 20px;
    margin-top:  20px;
    border-radius: 5%;

   
}

.hotelspopulaires
{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.titrelespluspopulaires 
{
   font-size: 20px;
   font-weight: bold;
   margin: 25px;
   display: flex;
   justify-content: space-between;

}



                    /* ACTIVITES A MARSEILLE!!!!*/

.activités
{
    background-color: white;
    width: 290px;
    height: 500px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #F2F2F2;
}

.activités img
{
    width: 100%;
    height:86%;
    border-radius: 30px 30px 0px 0px;
}

.activités h3
{
    padding: 2px 7px;
}

.container-activites
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px
}

.toutesactivités
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activités2
{
    background-color: white;
    width: 290px;
    height: 230px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #F2F2F2;
}

.activités2 img
{
    width: 100%;
    height: 70%;
    border-radius: 30px 30px 0px 0px;
}

.deux-ensemble
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}                        /* ETOILES !!!!*/

.fas
{
    color: #0065FC;
}

.grey
{
    color: #F2F2F2
}


                        /* FOOTER !!!!!*/

footer
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
   
}

footer ul 
{
    list-style-type: none;
}

footer li
{
    margin: 10px;
}

footer a 
{
    font-size: 15px;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

.container-footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    width: 100%;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Modifs dans le texte sur Hebergements */ 

.hebergement p , h3
{
    margin-left: 5%;

}

.hebergement p
{
    margin-top: 2%;
    margin-bottom: 2%;
}

.hebergement h3
{
    margin-top: 2%;
    margin-bottom: 2%;
}



.ecritures
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ecritures h3,p
{
    margin: 1%;
}