@font-face
{
    font-family: 'PoliceRaleway';
    src:url('Police/Raleway-Regular.ttf');
}
@font-face
{
    font-family: 'PoliceRalewayBold';
    src:url('Police/Raleway-Bold.ttf')
}

body
{
    font-family: 'PoliceRaleway';
    font-size: 15px;
}
 header , main
 {
    padding-left: 300px;
    padding-right: 300px;
 }



                    /* HEBERGEMENT ACTIVITES SINSCRIRE !!!!!*/

.header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}

.navigation ul
{
    list-style-type: none;
    display: flex;
    text-decoration: none;  
}

.navigation a
{
    font-size: 17px;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
    margin-right: 35px;
}
.heb a:hover
{
    color: #0065FC;
    border-top: 2px #0065FC solid;

}

.act a:hover
{
    color: #0065FC;
    border-top: 2px #0065FC solid
}

.sinscrire a
{
    color:#0065FC;
    font-family: 'PoliceRalewayBold';
}
.phrase1
{
    font-family: 'PoliceRalewayBold';
    font-size: 20px;
}
.phrase2
{
    margin-bottom: 20px;
}


                    /* BARRE DE RECHERCHE */

.search 
{
  width: 50%;
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.searchTerm 
{
  border: 1px solid #F2F2F2;
  border-right: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #9DBFAF;
}

.searchButton 
{
  height: 32px;
  border: 1px solid #0065FC;
  background:  #0065FC;
  text-align: center;
  color: #fff;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 13px;
}
.wrap
{
    display: flex;
    flex-direction: row; 
}


 .maps 
 {
    border: 1px #F2F2F2 solid;
    height: 30px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 8px 0 0 8px;
 }

 


                        /* FILTRES!!!!!!!*/ 

.filtres 
{
    display: flex;
    align-items: center;
    font-family: 'PoliceRalewayBold';

   
}
.filtre {
    display: flex;
    margin: 10px;
    align-items: center;
    border: #F2F2F2 2px solid;
    border-radius: 25px;
    width: auto;
    padding: 0px 10px 0 0;

      }

.filtre:hover
{
    background-color: #F2F2F2;
}

.icon
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #DEEBFF 2px solid;
}

.filtre a
{
    list-style-type: none;
    text-decoration: none;  
    color: black;
}



                          /* barre i !!!*/

.info
{
    border: 2px #F2F2F2 solid;
    height: 30px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.info-icone
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

                    /* HEBERGEMENT MARSEILLE !!!!!*/

.container-hebergement-populaires
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-hebergement
{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    background-color: #F2F2F2;
    border-radius: 5%;
    width: 63%;
    height: 550px;
    padding: 20px;
    margin-top: 20px;
    
}
.hebergement
{
    background-color: white;
    width: 210px;
    height: 170px;
    border-radius: 30px;
    overflow: hidden;
    padding: 4px;

    margin-bottom: 30px;
}
.hebergement:hover
{
    box-shadow: 0 3px 10px 1px #7e7e7e;
}

.hebergement img
{
    width: 100%;
    height: 55%;
    border-radius: 30px 30px 0px 0px;   
}
.titre 
{
    font-size: 20px;
    font-family: 'PoliceRalewayBold';
    margin: 25px;

}
.hotels
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    
}
 .afficher-plus
 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
 }
 .hebergement p , h3
 {
     margin-left: 5%;
 
 }
 
 .hebergement p
 {
     margin-top: 2%;
     margin-bottom: 2%;
 }
 
 .hebergement h3
 {
     margin-top: 2%;
     margin-bottom: 2%;
 }
 
 
 
 .ecritures
 {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }
 
 .ecritures h3,p
 {
     margin: 1%;
 }

                        /* POPULAIRES !!!*/

.populaires
{
    background-color: white;
    width: 300px;
    height: 120px;
    border-radius: 30px;
    overflow: hidden;
    padding: 4px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.populaires:hover
{
    box-shadow: 0 3px 10px 1px #7e7e7e;
}

.populaires img
{
    width: 115px;
    height: 150px;
    border-radius: 26px 0px 0px 26px;
   
}

.container-populaires
{
    background-color: #F2F2F2;
    width: 29%;
    height: 550px;
    padding: 20px;
    margin-top:  20px;
    border-radius: 5%;

   
}

.hotelspopulaires
{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.titrelespluspopulaires 
{
   font-size: 20px;
   font-family: 'PoliceRalewayBold';
   margin: 25px;
   display: flex;
   justify-content: space-between;

}



                    /* ACTIVITES A MARSEILLE!!!!*/

.activités
{
    background-color: white;
    width: 290px;
    height: 500px;
    border-radius: 30px;
    overflow: hidden;
}

.activités:hover
{
    box-shadow: 0 3px 10px 1px #7e7e7e;
}

.activités img
{
    width: 100%;
    height:86%;
    border-radius: 30px 30px 0px 0px;
}

.activités h3
{
    padding: 2px 7px;
}

.container-activites
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px
}

.toutesactivités
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activités2
{
    background-color: white;
    width: 290px;
    height: 230px;
    border-radius: 30px;
    overflow: hidden;
}

.activités2:hover
{
    box-shadow: 0 3px 10px 1px #7e7e7e;
}

.activités2 img
{
    width: 100%;
    height: 70%;
    border-radius: 30px 30px 0px 0px;
}

.deux-ensemble
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}                 


                        /* FOOTER !!!!!*/

footer
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
   
}

footer ul 
{
    list-style-type: none;
}

footer li
{
    margin: 10px;
}

footer a 
{
    font-size: 15px;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

.container-footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    width: 100%;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

               /* couleurs icones */


.fas
{
    color: #0065FC;
}

.grey
{
    color: #F2F2F2
}

.icone-maps
 {
    color: black;
 }
.icone-populaires
{
    color:black
}
